 
 #header {
    background-color: rgba(34, 190, 217, 0.8); 
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#banner h1 {
    font-size: 2.5em;
    margin: 0;
    color: #256940; /
    font-weight: bold;
}

#nav {
    background-color: #64B8B1; 
    padding: 15px;
    text-align: center;
    color: #F5F5F5;
}

nav a {
    color: #F5F5F5;
    text-decoration: none;
    font-size: large;
    margin-right: 20px;
    padding: 15px;
    transition: color 0.3s ease;
}

#nav a:hover {
    background-color: #22BED9; 
    border-radius: 5px;
    color: #256940; 
    text-decoration: none;
}



h1 {
    font-size: 40px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-size: 30px; 
}

#footer {
    background-color: #64B8B1; 
    color: #F5F5F5; 
    padding: 20px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); 
}

#footer h2 {
    color: #256940; 
    font-size: 2em;
    margin-bottom: 10px;
}

#footer p {
    color: #F5F5F5; 
    font-size: 1em;
    margin: 0;
}

#footer a {
    color: #F5F5F5;
    text-decoration: none;
    font-size: large;
    margin-right: 20px;
    padding: 15px;
    transition: color 0.3s ease;
}

#footer a:hover {
    color: #256940; 
    text-decoration: none;
    background-color: #22BED9;
}